<html>

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            AE
        </title>

    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Le styles -->
        
        {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
     
                 <!-- Scripts -->
        {% endblock %}

        {% javascripts '@GanarBundle/Resources/public/js/jquery-1.8.2.min.js'
         "@GanarBundle/Resources/public/js/jquery-ui.min.js"
            "@GanarBundle/Resources/public/js/underscore-min.js"
            "@PunkAveFileUploaderBundle/Resources/public/js/jquery.fileupload.js"
            "@PunkAveFileUploaderBundle/Resources/public/js/FileUploader.js"
        %} 
                 
            
           
          
                

            <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>        
            
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
     {% endjavascripts %}                  
</head>


<body>
    <div class="span9 " >
    {% block body %}
            
    
    {% endblock %}
    </div>
</body>


  
      {%block javascript %}
           <script>
                
            </script>
            
            <script type="text/javascript">
                     $(document).ready(function(){
       
             });

            </script>
        
      {% endblock %}
        
        
        

</html>

