section{
	margin: 0 auto;
	width: 100%;
}
.form-perfil .en-linea div{
	/*padding-right: 20px;*/
	display: inline-block;
}
.form-perfil .en-linea-2 div{
	/*padding-right: 40px;*/
	display: inline-block;
}
.form-perfil .en-linea input{
	width: 80px;
}
.form-perfil .en-linea-2 input{
	width: 56%;
}
.form-perfil h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #3c519c;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 100%;
}
.form-perfil div.grupo {
	list-style-type:none;
    margin:0px;
    padding:0px;
    /*width:750px;*/
}
.form-perfil div.fila{
	/*border-bottom:1px solid #eee;*/
    padding:12px;
    position:relative;
}
.form-perfil label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.form-perfil input {
    height:20px; 
    padding:5px 8px;
    width:82%; 
}
.form-perfil textarea {
    padding:8px; 
    width:300px;
}
.form-perfil input, .form-perfil textarea { 
    border:1px solid #aaa;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    /*padding-right:30px;*/
    /*-moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;*/
}
/*
.form-perfil input:focus, .form-perfil textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:80px;
}*/
input.submit {
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
   	background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   	background-color: #fff;
   	border: none;
   	border: 1px solid #f1f1f1;
   	border-radius: 10px;
   	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
   	color: #444;
   	font-family: Helvetica, Arial, sans-serif;
   	font-weight: bold;
   	height: auto;
   	line-height: 1;
   	margin: 12px;
   	padding: 9px 17px;
   	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}
input.submit:hover {
    opacity:.55;
    cursor: pointer; 
    color: #fff;
}
input.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset; 
}
.botones {
    margin: 0 auto;
    width: 70%;
}
.map{
	margin: 0 auto;
	width: 700px;
}