<html>
<body>
	<fieldset>
			<legend>Crear Curso</legend>
			<div>
				<label>Nombre</label>
				<input type="text">
				<label>Numero de Sesiones</label>
				<input type="text">
			</div>	
			<div>
				<label>Estado</label>
				<select>
					<option>Activado</option>
					<option>Desactivado</option>
				</select>
			</div>	
			<div>
				<label>Descripcion</label>
				<textarea rows="15" cols="50"></textarea>
			</div>			
		</fieldset>
	<fieldset>
	<div>
				<ul>
				<li>
					<div>
						<label>1</label>
						<select>
							<option>Sesion</option>
							<option>Extra</option>
						</select>
						<input type="text" placeholder="Detalle de sesion">
						<label>Archivo</label>
						<a href="#">Descargar</a>
						<a href="#">Eliminar</a>
					</div>
				</li>
				<li>
					<div>
						<label>2</label>
					<select>
						<option>Sesion</option>
						<option>Extra</option>
					</select>
					<input type="text" placeholder="Detalle de sesion">
					<label>Archivo</label>
					<a href="#">Descargar</a>
					<a href="#">Eliminar</a>
					</div>
					</li>
				</ul>
			</div>
	</fieldset>
</body>
</html>